@media (min-width: 992px) {
    nav.navbar {
      background: transparent!important;
    }
  }

  .header-banner{
      background: url(./header-bg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 700px;
  }