@media (min-width: 992px) {
    nav.navbar {
      background: transparent!important;
    }
  }

  .header-banner{
      background: url(./header-bg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 700px;
  }

  .icon{
      background: #fec810;
      border-radius: 50%;
  }

  .icon i{
      font-size: 4em; 
      /* width: 40px;
     height: 40px; */
  }